@model UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="SubmitData" method="post">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserName" class="form-control" placeholder="UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <button type="submit">Submit here</button>
    </form>

    <h1>@sharedResources["Name"]</h1>
    <h1>@sharedResources["Title"]</h1>
    <span>UtcNow</span>  @System.DateTime.UtcNow;
    <br /><span>ToLongTimeString</span>  @System.DateTime.Now.ToLongTimeString()
    <br /><span>ToLocalTime</span>  @System.DateTime.Now.ToLocalTime()
    <br /><span>ToLongDateString</span>   @System.DateTime.Now.ToLongDateString()
    <br /><h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
