@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@sharedResources["Name"]</h1>
    <h1>@sharedResources["Title"]</h1>
    <span>UtcNow</span>  @System.DateTime.UtcNow;
    <br /><span>ToLongTimeString</span>  @System.DateTime.Now.ToLongTimeString()
    <br /><span>ToLocalTime</span>  @System.DateTime.Now.ToLocalTime()
    <br /><span>ToLongDateString</span>   @System.DateTime.Now.ToLongDateString()
    <br /><h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
